[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
notebook = "*"
psycopg2 = "*"
matplotlib = "*"
nltk = "*"
pandas = "*"
plotly = "*"
pymongo = "*"
numpy = "*"
kaleido = "*"

[dev-packages]

[requires]
python_version = "3.11"
